.certificate-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    background-color: #151515;
  }
  
  .certificate-card {
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  align-items: center;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
    object-fit: fill;
  }
  
  .certificate-card:hover {
    transform: translateY(-5px);
  }
  
  .certificate-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    /* margin-bottom: 12px; */
    object-fit: cover;
  }
  .certificate-card h3 {
    font-size: 1.1rem;
    color: #222;
  }
  
  .certificate-card p {
    font-size: 0.95rem;
    color: #666;
  }
  